{% extends "layout/layout.html" %}

{% block title %} Secciones {% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-10 col-lg-8 mx-auto bg-light  py-3 px-3 shadow rounded">
            <div class="d-flex justify-content-around align-items-center" style="text-align: center">
                <h1>Secciones</h1>
                {% if request.user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'secciones.create' %}">Ingresar una seccion</a>
                {% endif %}
            </div>

           <div class="list-group">
                <table class="table table-hover table-responsive-lg">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Grado</th>
                          {% if request.user.is_authenticated %}
                          <th style="text-align: center;" scope="col">Opcion</th>
                          {% endif %}
                        </tr>
                      </thead>
                    <hr>
                        <tbody>
                       {% for seccion in object_list %}
                        <tr>
                          <th scope="row">{{seccion.id}}</th>
                          <td>{{seccion.nombre}}</td>
                          <td>{{seccion.grado.nombre}}</td>

                          {% if request.user.is_authenticated %}
                          <td style="text-align: center;">
                              <a class="btn btn-info" href="{% url 'secciones.edit' seccion.id %}">Editar</a>
                              <a class="btn btn-danger" href="{% url 'secciones.delete' seccion.id %}">Eliminar</a>
                          </td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                       </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}