{% extends "layout/layout.html" %}

{% block title %} Grados {% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-10 col-lg-8 mx-auto bg-light  py-3 px-3 shadow rounded">
            <div class="d-flex justify-content-around align-items-center" style="text-align: center">
                <h1>Grados</h1>
                {% if request.user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'grados.create' %}">Ingresar un Grado</a>
                {% endif %}

            </div>

           <div class="list-group">
                <table class="table  table-responsive-lg">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Descripcion</th>
                          {% if request.user.is_authenticated %}
                            <th style="text-align: center;" scope="col">Opcion</th>
                          {% endif %}
                        </tr>
                      </thead>
                    <hr>
                        <tbody>
                       {% for grado in object_list %}
                        <tr>
                          <th scope="row">{{grado.id}}</th>
                          <td>{{grado.nombre}}</td>
                          <td>{{grado.descripcion}}</td>

                          {% if request.user.is_authenticated %}
                          <td style="text-align: center;">
                              <a class="btn btn-info" href="{% url 'grados.edit' grado.id %}">Editar</a>
                              <a class="btn btn-danger" href="{% url 'grados.delete' grado.id %}">Eliminar</a>
                          </td>
                          {% endif %}

                        </tr>
                      {% endfor %}
                       </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}