{% extends "layout/layout.html" %}

{% block title %} Inscripciones {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-10 col-lg-10 mx-auto bg-light  py-3 px-3 shadow rounded">
            <div class="d-flex justify-content-around align-items-center" style="text-align: center">
                <h1>Inscripciones</h1>
                {% if request.user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'inscripciones.create' %}">Ingresar una nueva Inscripcion</a>
                {% endif %}
            </div>

           <div class="list-group">
                <table class="table table-responsive-lg">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Alumno</th>
                          <th scope="col">Grado</th>
                          <th scope="col">Secciones</th>
                          {% if request.user.is_authenticated %}
                          <th style="text-align: center;" scope="col">Opcion</th>
                          {% endif %}
                        </tr>
                      </thead>
                    <hr>
                        <tbody>
                       {% for inscripcion in object_list %}
                        <tr>
                          <th scope="row">{{inscripcion.id}}</th>
                          <td>{{inscripcion.alumno.nombre}}</td>
                          <td>{{inscripcion.grado.nombre}}</td>
                          <td>{{inscripcion.seccion.nombre}}</td>
                          {% if request.user.is_authenticated %}
                             <td style="text-align: center;">
                              <a class="btn btn-info" href="{% url 'inscripciones.edit' inscripcion.id %}">Editar</a>
                              <a class="btn btn-danger" href="{% url 'inscripciones.delete' inscripcion.id %}">Eliminar</a>
                             </td>
                          {% endif %}

                        </tr>
                      {% endfor %}
                       </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}